@charset "utf-8";
@import url(./utils.css);
@import url(./root.css);

html {
  font-family: 'Nunito Sans', 'Fira Sans', Arial, sans-serif;
}

body {
  background-color: var(--app-color-dark-bg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > h2 {
  margin-bottom: 20px;
  color: white;
}

.main-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.spell-list-wrapper {
  height: 75svh;
  width: 340px;
  display: grid;
  justify-content: center;
  gap: 10px;
}

.filter-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.spell-list {
  height: 70svh;
  width: 340px;
  border: 1px solid white;
  padding: 0 10px;
  overflow-y: auto;
}

select {
  width: 70%;
  text-align: center;
}

.filter {
  width: 20%
}

li {
  display: flex;
  color: white;
  cursor: pointer;
}

li:hover, li:focus {
  background-color: #414863;
}

li p {
  margin-right: 10px;
}

.card {
  font-size: 14px;
  color: white;
  width: 400px;
  padding: 15px 20px 20px 20px;
  display: grid;
  gap: 10px;
  justify-content: center;
  background-color: purple;
  position: relative;
}

.card > h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: -10px;
}

.card > p:first-of-type {
  font-weight: 200;
  font-size: 14px;
  text-align: center;
}

.card h5 {
  font-size: 16px;
}

.ritual-tag {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 18px;
}

.quick-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}


.info-box {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: wrap;
  width: calc(50% - 10px);
  padding: 5px;
  outline: 1px solid white;
}

.range-area {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: center;
  text-align: center;
}

.info-text {
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.description {
  overflow-y: auto;
}



