@charset "utf-8";
@import url(./utils.css);
@import url(./root.css);
@import url(./animations.css);

/*
  TODO:
  Change Background?
  Add loader for cards
*/
html {
  font-family: 'Nunito Sans', 'Fira Sans', Arial, sans-serif;
}

body {
  background-color: var(--app-color-dark-bg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > h2 {
  margin-bottom: 20px;
  color: white;
}

.main-wrapper {
  width: 100%;
  height: calc(100svh - 65px);
  display: flex;
  justify-content: space-evenly
}

.spell-list-wrapper {
  height: 75svh;
  width: 340px;
  display: grid;
  justify-content: center;
  gap: 10px;
}

.filter-wrapper {
  display: flex;
  justify-content: space-evenly;
}

select {
  font-family: "Almendra SC", serif;
  width: 70%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
}

.spell-list {
  height: 70svh;
  width: 340px;
  border: 1px solid white;
  padding: 0 10px;
  overflow-y: auto;
  border-radius: 6px;
}

li {
  display: flex;
  color: white;
  cursor: pointer;
}

li:hover, li:focus {
  background-color: #414863;
}

li p {
  margin-right: 10px;
}


.add-spell {
  font-family: "Almendra SC", serif;
  font-weight: 600;
  justify-self: center;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 6px;
  position: relative;
  transition: all 0.25s ease-in-out;
}

.add-spell:hover {
  background-color: #ffdead;
}

.add-spell-message {
  position: absolute;
  z-index: 1;
  width: 150px;
  visibility: hidden;
  background-color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  top: -5px;
  left: 105%;
}

.spell-card {
  display: flex;
  align-items: flex-start;
}

.card {
  font-size: 14px;
  color: #000;
  width: 400px;
  height: auto;
  padding: 15px 20px 20px 20px;
  display: grid;
  gap: 10px;
  justify-content: center;
  background: #ffdead url(../img/card-bg.jpg) no-repeat center center;
  position: relative;
  border-radius: 10px;
}

.card > h3 {
  font-family: "Almendra SC", serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: -10px;
}

.card > p:first-of-type {
  font-family: "Almendra SC", serif;
  font-weight: 200;
  font-size: 16px;
  text-align: center;
}

.card h5 {
  font-family: "Almendra SC", serif;
  font-size: 16px;
}

.ritual-tag {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 18px;
}

.quick-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.info-box {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: wrap;
  width: calc(50% - 10px);
  padding: 5px;
  outline: 1px solid #000;
  border-radius: 10px;
}

.range-area {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: center;
  text-align: center;
}

.info-text {
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.description, .higher-levels {
  text-indent: 20px;
  font-weight: 600;
}

.spellbook-btn-wrapper {
  height: fit-content;
  align-self: center;
}

.spellbook {
  font-size: 20px;
  font-weight: 600;
  padding: 50px 20px;
  border-radius: 6px;
  background-color: #753a10;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  clip-path: polygon(0% 0%, 50% 6.75%, 100% 0%, 100% 100%, 50% 93.75%, 0% 100%);
  transition: all 0.25s ease-in-out;
}
.spellbook:after {
  content: '';
  position: absolute;
  height: 95%;
  width: 95%;
  background-color: #ffdead;
  border-radius: 6px;
  z-index: 1;
  clip-path: polygon(0% 0%, 50% 6.75%, 100% 0%, 100% 100%, 50% 93.75%, 0% 100%);
}

.spellbook:before {
  content: 'Spellbook';
  font-family: "Almendra SC", serif;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88%;
  width: 88%;
  background-color: #fffaf0;
  border-radius: 6px;
  z-index: 2;
  clip-path: polygon(0% 0%, 50% 6.75%, 100% 0%, 100% 100%, 50% 93.75%, 0% 100%);
}

.spellbook:hover {
  scale: 1.05;
}



